
.Log {
  display: flex;
  justify-content: space-around;
  //border-top: 1px solid #3c3c3c;
  overflow: auto;
}

.Log .logs {
  max-width: 800px;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  color: white;
  margin: 7px;
  white-space: pre;
}

.Log .logs div {
  word-break:break-all;
  font-size: 14px;
}

.Log .single-log {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}