
.Toolbar {
  //margin: 5px;
  display: flex;
  justify-content: center;
  background-color: #55558f;
}

.Toolbar .left {
  display: flex;
}

.Toolbar .right {
  display: flex;
}

.Toolbar .divider {
  width: 90px;
  //background-color: #007acc;
  //margin-left: 5px;
  //margin-right: 5px;
}