.Button {
   font: inherit;
   cursor: pointer;
   background-color: transparent;
   color: white;
   border-style: none;
   padding: 11px 13px;
}

.Button:hover {
   transition: none;
   background-color: rgba(2, 2, 2, 0.15);
}
