
.Editors {
  display: flex;
  height: 100%;
}

.Editors .leftEditor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Editors .leftEditor .leftTitle {
  text-align: center;
}

.Editors .rightEditor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Editors .rightEditor .rightTitle {
  text-align: center;
}