
.Editors {
  display: flex;
  height: 100%;
  border-bottom: 2px transparent;
}

.Editors .editorTitle {
  font-size: 12px;
  font-style: italic;
  padding: 3px;
  width: 90px;
  color: #b3b3b3;
  text-align: center;
  position: absolute;
  z-index: 100;
  right: 0;
  //bottom: 0;
}

.Editors .editorTitle.left {
  background-color: rgba(12, 218, 0, 0.35);
}

.Editors .editorTitle.right {
  background-color: rgba(0, 109, 255, 0.55);
}

.Editors .editor {
  width: 100%;
  height: 100%;
  position: relative;
}

.Editors .editor.left {
  border-top: solid 2px rgba(12, 218, 0, 0.35);
}

.Editors .editor.right {
  border-top: solid 2px rgba(0, 109, 255, 0.55);
}
