

.FileNavigation {
  margin: auto;
  display: flex;
  justify-content: space-between;
  min-width: 400px;
}

.FileNavigation .fileNumber {
  font-size: 12px;
  font-weight: 600;
  color: #d6d6d6;
  margin: auto 0;
}

.FileNavigation .fileTitle {
  font-size: 16px;
  color: #d6d6d6;
  margin: auto 0;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction:rtl;
  padding-right: 10px;
  cursor: pointer;
}

.FileNavigation .fileTitle.center {
  margin: auto;
}

.FileNavigation .arrowRight {
  margin-top: 13px;
  margin-bottom: 13px;

  width: 11px;
  height: 11px;

  border-bottom: solid 3px #d6d6d6;
  border-right: solid 3px #d6d6d6;
  transform: rotate(-45deg);
}

.FileNavigation .nextFile {
  width: 25px;
}

.FileNavigation .nextFile.disabled .arrowRight {
  border-bottom: solid 3px #7a7a7a;
  border-right: solid 3px #7a7a7a;
}

.FileNavigation .nextFile:hover:not(.disabled) .arrowRight {
  border-bottom: solid 3px #ffffff;
  border-right: solid 3px #ffffff;
}

.FileNavigation .nextFile:hover:not(.disabled) {
  background-color: rgba(0, 0, 0, 0.16);
}

.FileNavigation .arrowLeft {
  width: 11px;
  height: 11px;
  border-top: solid 3px #d6d6d6;
  border-left: solid 3px #d6d6d6;
  transform: rotate(-45deg);

  margin-top: 13px;
  margin-bottom: 13px;
}

.FileNavigation .previousFile {
  padding-left: 10px;
  width: 20px;
  margin-left: 10px;
}

.FileNavigation .previousFile.disabled .arrowLeft {
  border-top: solid 3px #7a7a7a;
  border-left: solid 3px #7a7a7a;
}

.FileNavigation .previousFile:hover:not(.disabled) .arrowLeft {
  border-top: solid 3px #ffffff;
  border-left: solid 3px #ffffff;
}

.FileNavigation .previousFile:hover:not(.disabled) {
  background-color: rgba(0, 0, 0, 0.16);
}

.FileNavigation .arrows {
  display: flex;
  margin: auto 0;
}

.FileNavigation .controls {
  display: flex;
}